<style type="text/css">
	table {
		width: 100%;
	}
</style>
<page>
	<table>
		<tr>
			<td align="center" style="width:45%;">
				REPUBLIQUE DU SENEGAL
				<br>
				*********************<br>
				MINISTERE DE L'ENSEIGNEMENT SUPERIEUR
				<br>
				DE LA RECHERCHE ET DE L'INNOVATION
				<br>
				*************************
				<br>
				CENTRE REGIONAL DES OEUVRES
				<br>
				UNIVERSITAIRES SOCIALES DE ZIGUINCHOR
			</td>
			<td style="width:15%"></td>
			<td align="right" style="width:40%;">
				<img src="{{ logo }}" alt="logo" width="80">
				<br>
				<b>AGENCE COMPTABLE</b>
			</td>
		</tr>
	</table>
	<br>
	<br>
	<h3 style="width:100%; text-align:center;">
		<u>BON DE CAISSE N°
			<b>{{ depense.numero }}</b>
		</u>
	</h3>

	<table>
		<tbody>
			<tr>
				<th>
					Numéro mandat :
				</th>
				<td style="padding:5;">
					<b>{{ depense.numeroMandat }}</b>
				</td>
			</tr>
			<tr>
				<th>
					Imputation budgétaire :
				</th>
				<td style="padding:5;">
					{{ depense.imputationBudgetaire }}
				</td>
			</tr>
			<tr>
				<th>
					Compte tiers :
				</th>
				<td style="padding:5;">
					{{ depense.compteTiers }}
				</td>
			</tr>
			<tr>
				<th style="width:30%;">
					Objet :
				</th>
				<td style="padding:5; width:55%;">
					{{ depense.objet }}
				</td>
				<td style="padding:5; width:15%;" rowspan="4">
					<qrcode value="#" style="width: 20mm; color: #09AB51; border:none; float:right;"></qrcode>
				</td>
			</tr>
			<tr>
				<th>
					Bénéficiaire :
				</th>
				<td style="padding:5;">
					{{ depense.beneficiaire }}
				</td>
			</tr>
			<tr>
				<th>
					Montant :
				</th>
				<td style="padding:5;">
					<b>
						{{ depense.montant|number_format(0, '.', ' ') }}</b>

					<i>
						~{{lettre}}francs CFA~</i>
				</td>
			</tr>
			<tr>
				<th>
					Date de réglement :
				</th>
				<td style="padding:5;">
					{{ depense.date ? depense.date|date('d/m/Y') : '' }}
				</td>
			</tr>
		</tbody>
	</table>
	<br>
	<br>
	<br><br>
	<br><br>
	<br><br>
	<br>
	<hr>
	<br>
	<br>
	<br>
	<table>
		<tr>
			<td align="center" style="width:45%;">
				REPUBLIQUE DU SENEGAL
				<br>
				*********************<br>
				MINISTERE DE L'ENSEIGNEMENT SUPERIEUR
				<br>
				DE LA RECHERCHE ET DE L'INNOVATION
				<br>
				*************************
				<br>
				CENTRE REGIONAL DES OEUVRES
				<br>
				UNIVERSITAIRES SOCIALES DE ZIGUINCHOR
			</td>
			<td style="width:15%"></td>
			<td align="right" style="width:40%;">
				<img src="{{ logo }}" alt="logo" width="80">
				<br>
				<b>AGENCE COMPTABLE</b>
			</td>
		</tr>
	</table>
	<br>
	<br>
	<h3 style="width:100%; text-align:center;">
		<u>BON DE CAISSE N°
			<b>{{ depense.numero }}</b>
		</u>
	</h3>

	<table>
		<tbody>
			<tr>
				<th>
					Numéro mandat :
				</th>
				<td style="padding:5;">
					<b>{{ depense.numeroMandat }}</b>
				</td>
			</tr>
			<tr>
				<th>
					Imputation budgétaire :
				</th>
				<td style="padding:5;">
					{{ depense.imputationBudgetaire }}
				</td>
			</tr>
			<tr>
				<th>
					Compte tiers :
				</th>
				<td style="padding:5;">
					{{ depense.compteTiers }}
				</td>
			</tr>
			<tr>
				<th style="width:30%;">
					Objet :
				</th>
				<td style="padding:5; width:55%;">
					{{ depense.objet }}
				</td>
				<td style="padding:5; width:15%;" rowspan="4">
					<qrcode value="#" style="width: 20mm; color: #09AB51; border:none; float:right;"></qrcode>
				</td>
			</tr>
			<tr>
				<th>
					Bénéficiaire :
				</th>
				<td style="padding:5;">
					{{ depense.beneficiaire }}
				</td>
			</tr>
			<tr>
				<th>
					Montant :
				</th>
				<td style="padding:5;">

					<b>
						{{ depense.montant|number_format(0, '.', ' ') }}</b>

					<i>
						~{{lettre}}francs CFA~</i>
				</td>
			</tr>
			<tr>
				<th>
					Date de réglement :
				</th>
				<td style="padding:5;">
					{{ depense.date ? depense.date|date('d/m/Y') : '' }}
				</td>
			</tr>
		</tbody>
	</table>
	<br>
	<h6 align="center"></h6>

</page>

