{% extends 'base.html.twig' %}

{% block title %}Depense
{% endblock %}

{% block body %}

	{% include "minimaint.html.twig" %}
	<hr>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="panel-title">
						<h3>Visualisation Depense</h3>
					</div>
				</div>
				<div class="panel-body">
					<table class="table">
						<tbody>
							<tr>
								<th>
									Id
								</th>
								<td>
									{{ depense.id }}
								</td>
							</tr>
							<tr>
								<th>
									ImputationBudgetaire
								</th>
								<td>
									{{ depense.imputationBudgetaire }}
								</td>
							</tr>
							<tr>
								<th>
									Objet
								</th>
								<td>
									{{ depense.objet }}
								</td>
							</tr>
							<tr>
								<th>
									Beneficiaire
								</th>
								<td>
									{{ depense.beneficiaire }}
								</td>
							</tr>
							<tr>
								<th>
									Montant
								</th>
								<td>
									{{ depense.montant }}
								</td>
							</tr>
							<tr>
								<th>
									Date
								</th>
								<td>
									{{ depense.date ? depense.date|date('Y-m-d') : '' }}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="panel-footer">
					<a href="{{ path('app_depense_index') }}">
						<button class="btn btn-primary" title="retour à la liste">
							<span class="fa fa-list"></span>
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
