{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

<div class="row">

    <div class="col-md-9"></div>
    <div class="col-md-3">
        <button class="btn btn-success btn-block" data-toggle="modal" data-target="#modal_basic">
            <span class="fa fa-plus"></span>Ajouter
        </button>
    </div>
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-body">
                <!-- START DATATABLE EXPORT -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Liste des users</h3>
                        <div class="btn-group pull-right">
                            <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bars"></i>Exporter vers Excel
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" onclick="$('#customers2').tableExport({type:'excel',escape:'false'});">
                                        <img src="{{ asset('joli/img/icons/xls.png') }}" width="24" />XLS
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="panel-body">
                        <table id="customers2" class="table datatable table-striped">
                            <thead>
                                <tr>
                                                                            <th>Id</th>
                                                                            <th>Username</th>
                                                                            <th>Roles</th>
                                                                            <th>Password</th>
                                                                        <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                                                            <td>{{ user.id }}</td>
                                                                            <td>{{ user.username }}</td>
                                                                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                                                                            <td>{{ user.password }}</td>
                                                                        <td>
                                        <a href="{{ path('app_user_show', {'id': user.id}) }}">
                                            <button class="btn-info" title="Visulaiser">
                                                <span class="fa fa-eye"></span>
                                            </button>
                                        </a>
                                        <a href="{{ path('app_user_edit', {'id': user.id}) }}">
                                            <button class="btn-primary" title="Modifier">
                                                <span class="fa fa-edit"></span>
                                            </button>
                                        </a>
                                        {{ include('user/_delete_form.html.twig') }}
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="5">Aucun enregistrement trouvé</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
                <!-- END DATATABLE EXPORT -->
            </div>
        </div>
    </div>
</div>
<!-- MODALS -->
<div class="modal" id="modal_basic" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="defModalHead">Fomulaire d'ajout</h4>
            </div>
            <div class="modal-body">
                {{ include('user/_form.html.twig') }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts_template %}
<!-- START THIS PAGE PLUGINS-->
<script type="text/javascript" src="{{ asset('joli/js/plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('joli/js/plugins/tableexport/tableExport.js') }}"></script>
<script type="text/javascript" src="{{ asset('joli/js/plugins/tableexport/jquery.base64.js') }}"></script>
<script type="text/javascript" src="{{ asset('joli/js/plugins/tableexport/html2canvas.js') }}"></script>
<!-- END THIS PAGE PLUGINS-->

{% endblock %}