{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Visualisation User</h3>
                </div>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tbody>
                                                    <tr>
                                <th>
                                    Id                                </th>
                                <td>
                                    {{ user.id }}
                                </td>
                            </tr>
                                                    <tr>
                                <th>
                                    Username                                </th>
                                <td>
                                    {{ user.username }}
                                </td>
                            </tr>
                                                    <tr>
                                <th>
                                    Roles                                </th>
                                <td>
                                    {{ user.roles ? user.roles|json_encode : '' }}
                                </td>
                            </tr>
                                                    <tr>
                                <th>
                                    Password                                </th>
                                <td>
                                    {{ user.password }}
                                </td>
                            </tr>
                                            </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <a href="{{ path('app_user_index') }}"><button class="btn btn-primary" title="retour à la liste"><span class="fa fa-list"></span></button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}